<div class="hero_area">
  <app-nav></app-nav>
</div>



<section class="portfolio_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Our portfolio
      </h2>

    </div>

    <div class="portfolio_container layout_padding2">
      <div class="box-1">
        <div class="img-box b-1">
          <img src="{{images[0].src}}" alt="">
          <div class="btn-box">
            <a (click)="showDialog(images[0])" class="btn-1"></a>
          </div>
        </div>
        <div class="img-box b-2">
          <img src="{{images[1].src}}" alt="">
          <div class="btn-box">
            <a (click)="showDialog(images[1])" class="btn-1">

            </a>
          </div>
        </div>
      </div>
      <div class="box-2">
        <div class="box-2-top">
          <div class="img-box b-3">
            <img src="{{images[2].src}}" alt="">
            <div class="btn-box">
              <a (click)="showDialog(images[2])" class="btn-1">

              </a>
            </div>
          </div>
        </div>
        <div class="box-2-top2">
          <div class="img-box b-4">
            <img src="{{images[3].src}}" alt="">
            <div class="btn-box">
              <a (click)="showDialog(images[3])" class="btn-1">

              </a>
            </div>
          </div>
        </div>
        <div class="box-2-btm">
          <div class="img-box b-5">
            <img src="{{images[4].src}}" alt="">
            <div class="btn-box">
              <a (click)="showDialog(images[4])" class="btn-1">

              </a>
            </div>
          </div>
          <div class="img-box b-6">
            <img src="{{images[5].src}}" alt="">
            <div class="btn-box">
              <a (click)="showDialog(images[5])" class="btn-1">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</section>

<app-footer></app-footer>


<p-dialog header="Details" [(visible)]="visibleDetail" [style]="{width: '50vw'}">

  <div class="container">

    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="white-box text-center">
              <img alt="{{capturedImage.alt}}" class="object-fit-cover" width="300" height="300"
                src="{{capturedImage.src}}" class="img-responsive">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="fw-bold mt-2 h3 text-primary">{{capturedImage.name}}</h4>
            <p>{{capturedImage.description}}</p>
            <h3>Image Details:</h3>
            <ul>
              <li><strong>Resolution:</strong> {{capturedImage.resolution}}</li>
              <li><strong>Date Taken:</strong> {{capturedImage.dateTaken}}</li>
              <li><strong>Location:</strong> {{capturedImage.location}}</li>
            </ul>
            <div class="d-flex justify-content-center">
              <button pButton pRipple label="Edit"  (click)="showEditDialog(capturedImage)" class="p-button-success px-5" icon="pi pi-pencil"></button>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</p-dialog>
<p-dialog header="Edit Details" [(visible)]="visibleEdit" [style]="{ width: '50vw' }">
  <div class="container">
    <div class="form-group">
      <label for="editName">Name:</label>
      <input type="text" id="editName" [(ngModel)]="capturedImage.name">
    </div>
    <div class="form-group">
      <label for="editDescription">Description:</label>
      <textarea id="editDescription" [(ngModel)]="capturedImage.description"></textarea>
    </div>
    <div class="form-group">
      <label for="editResolution">Resolution:</label>
      <input type="text" id="editResolution" [(ngModel)]="capturedImage.resolution">
    </div>
    <div class="form-group">
      <label for="editDateTaken">Date Taken:</label>
      <input type="date" id="editDateTaken" [(ngModel)]="capturedImage.dateTaken">
    </div>
    <div class="form-group">
      <label for="editLocation">Location:</label>
      <input type="text" id="editLocation" [(ngModel)]="capturedImage.location">
    </div>

    <div class="d-flex justify-content-center">
      <button pButton pRipple label="Save" class="p-button-success me-2" (click)="saveEdit()"></button>
      <button pButton pRipple label="Cancel" class="p-button-danger" (click)="cancelEdit()"></button>
    </div>
  </div>
</p-dialog>



