<div class="hero_area">
  <app-nav></app-nav>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<section class="contact_section layout_padding">

  <div class="container">
    <div class="heading_container">
      <h2>
        Details
      </h2>
    </div>
    <div class="">


      <div class="container">
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <div class="white-box text-center"><img alt="" src="https://www.bootdey.com/image/400x400/00CED1/000000"
                    class="img-responsive"></div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <h4 class="fw-bold mt-5 h3">Product description</h4>
                <p>Lorem Ipsum available,but the majority have suffered alteration in some form,by injected humour,or
                  randomised words which don't look even slightly believable.but the majority have suffered alteration in some
                  form,by injected humour</p>
               


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
